/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.local.php
.env.php
.DS_Store
Thumbs.db

/app/config/database.php
/app/config/app_const.php
/app/config/app.php

/public/img/upload/*
/app/config/packages/sb89/recaptcha/config.php

/.htaccess
